.footer {
    height: 300px;
    background-color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding-top: 30px;
}

.footer div {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer div ul {
    width: 100%;
    padding-top: 25px;
    padding-left: 0px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    font-size: 25px;
}

.footer a {
    text-decoration: none;
    color: grey;
}

.footer a:hover {
    transition: 0.5s ease;
    color: white;
}


.container-redes{
   padding-top: 10px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
}

@media screen and (max-width: 768px) {

    .footer div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer div ul {
        width: 100%;
        padding-top: 25px;
       text-align: center;
        font-size: 15px;
    }
}