.portada-formacion{
    height: 500px;
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: flex-start;
}

.containerTitulo-formacion{
    width: 700px;
    font-size: 22px;
}

.containerTitulo-formacion button{
    padding: 10px 20px;
    width: 400px;
    border: none;
    background-color: #d72324;
    color: white;
    font-size: 22px;
}

.containerTitulo-formacion button:hover{
   scale: 1.05;
   transition: 0.5s ease;
}


/* *****************clases de formacion********************************* */
.cursoFormacion{
    padding-top: 100px;
    font-size: 17px;
}

.subPortada-formacion{
    height: 350px;
    width: 100%;
    background-color: blue;
    margin-top: 100px;
}

.subPortada-formacion img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.entrenamiento-niños{
    width: 100%;
    background-color: #191919;
    font-size: 18px;
    color: white;
    padding-bottom: 130px;
}

/* *****************seccion entrenamiento circuito******************************** */

.circuito{
    width: 100%;
}

.circuito img{
    height: 470px;
}

@media screen and (max-width: 768px) {

    .portada-formacion{
        height: 400px;
        width: 100%;
        background-color: aqua;
        display: flex;
        justify-content: flex-start;
    }
    
    .containerTitulo-formacion{
        width: 100%;
        font-size: 16px;
        text-align: center;
    }

    .containerTitulo-formacion span{
       display: none;
    }

    .containerTitulo-formacion button{
        padding: 10px 20px;
        width: 300px;
        font-size: 15px;
    }

    .cursoFormacion{
        padding-top: 20px;
        font-size: 17px;
    }

    .entrenamiento-niños{
        width: 100%;
        background-color: #191919;
        font-size: 18px;
        color: white;
        padding-bottom: 60px;
    }
    
    

    /* *************circuito***************************** */
    .circuito img{
        height: 370px;
        margin-bottom: 20px;
    }
}