
.App{
    background-color: #f3f4f6;
    font-size: 18px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}



.btn-red{
    padding: 10px 40px;
    background-color: #d72324;
    color: white;
    border: none;
    width: 200px;
    text-decoration: none;
    text-align: center;
}

.btn-red:hover{
    background-color: white;
    color: black;
    border: none;
    transition: 0.5s ease;
}

.btn-link{
    padding: 10px 20px;
    background-color: #d72324;
    color: white;
    border: none;
    width: 200px;
    text-decoration: none;
    text-align: center;
}